@CHARSET "UTF-8";

a{color:#409eff}
.show {
    display: block !important;
}
.hidden {
    display: none !important;
}
.line{ font-size: 0px; line-height: 0px; border-top: solid 1px #ddd; float: none}
/*******************************************************************************************************************/
.radius{border-radius:4px; overflow:hidden}
.size-MINI.radius{ border-radius:3px}
.size-L.radius{ border-radius:5px}
.size-XL.radius{ border-radius:6px}

.round{border-radius:1000px; overflow:hidden}
.circle{ border-radius:50%; overflow:hidden}

.box-shadow{-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.1);box-shadow:0 1px 2px rgba(0,0,0,0.1)}
.text-shadow{-webkit-text-shadow:0 0 2px rgba(0,0,0,0.2);text-shadow:0 0 2px rgba(0,0,0,0.2)}
/*******************************************************************************************************************/
.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-deleted {
    text-decoration:line-through;
}
.text-underline{
    text-decoration:underline;
}
.text-red{color:#ff0000}
/*******************************************************************************************************************/
/* 首页样式 */
#toparea {
    background-color: #E4EEFF;
    background-image: linear-gradient(to bottom, #F2F5FF, #E4EEFF);
    background-repeat: repeat-x;
    border: 0;
    padding: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2F5FF',endColorstr='#FFE4EEFF',GradientType=0);
}

#topmenu {
    display: inline;
    background: none;
}

#topmenu .nav {
    float: left;
    margin: 0px 0px 0px 5px;
    padding: 0px;
    list-style: none;
}

#topmenu .nav li {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    padding: 0;
}

#topmenu .nav li a {
    color: #777777;
    padding: 13px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    display: block;
}

#topmenu .nav li a.focus {
    background-color: #D0DCE2;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    color: #555555;
    text-decoration: none;
}

#topmenu .nav-right {
    margin: 8px 5px 0;
    padding: 0;
    list-style: none;
    float: right;
}

#topmenu .nav-right li {
    float: left;
    margin: 0 5px;
    padding: 0;
}
/*****************************************************************/
.tree-icon,.panel-icon,.icon-tag,.l-btn-icon,.font-icon,.menu-icon,.tabs-icon {
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    /*color:#d95043;*/
    color:#104E8B;
    text-align:center;
    padding-top: 2px;
    /*font-size: inherit;*/
}
.hide-tree-icon .tree-file,
.hide-tree-icon .tree-folder-open,
.hide-tree-icon .tree-folder {
    background: url('') no-repeat -240px 0;
}

.combo-p .tree-file,
.combo-p .tree-folder-open,
.combo-p .tree-folder {
    background: url('') no-repeat -240px 0;
}
/*****************************************************************/
.icon-tag {position:relative;left:1px;}
.icon-tag:hover{font-size:18px !important;}
/**********************************************************************************************/

/*3.1.25 尺寸	新增尺寸全局类名，用于表单、按钮、表格、头像、标签等元素上，要与元素一起配合使用，方能看到效果*/
.size-MINI{}/*迷你*/
.size-S{}/*小*/
.size-M{}/*中 缺省默认尺寸，可以不写，可以理解为：均码*/
.size-L{}/*L*/
.size-XL{}/*大*/
.size-XXL{}/*加大*/
.size-XXXL{}/*超大*/

.btn,.btn.size-M{ font-size:14px; height:31px;*height:auto;line-height:1.42857;padding:4px;font-weight: bold;}/*默认为M，可以不写，可以理解为：均码*/
a.btn,a.btn.size-M,span.btn,span.btn.size-M{ line-height:31px}
.btn,.btn.size-M{ padding:4px 12px}

.btn.size-MINI{font-size:10px; height:23px;padding:1px 2px;line-height:1.42857}/*迷你*/
/*a.btn.size-MINI,span.btn.size-MINI{ line-height:23px}*/
.btn.size-MINI{ padding:1px 4px}

.btn.size-S{font-size:12px; height:27px;padding:3px;line-height:1.42857}/*小*/
a.btn.size-S,span.btn.size-S{ line-height:27px}
.btn.size-S{ padding:3px 8px}

.btn.size-L{font-size:16px; height:41px; padding:8px}/*大*/
a.btn.size-L,span.btn.size-L{ line-height:41px}
.btn.size-L{ padding:8px 16px}

.btn.size-XL{font-size:18px; height:48px; padding:10px}/*特大*/
a.btn.size-XL,span.btn.size-XL{ line-height:48px}
.btn.size-XL{ padding:10px 24px}

.radius{border-radius:4px}
.size-MINI.radius{ border-radius:3px}
.size-L.radius{ border-radius:5px}
.size-XL.radius{ border-radius:6px}
.round{border-radius:50%; overflow:hidden}

/************************************************************************************************/
.label{display: inline-block;padding:2px 4px;font-size: 11.844px;font-weight: bold;line-height:14px;color: #fff;white-space: nowrap;vertical-align: baseline;background-color: #999}
/*圆角*/
.label.radius{border-radius: 3px}
.label:empty{display: none}
a.label:hover, a.label:focus{color: #fff;text-decoration: none;cursor: pointer}

/*None*/
.label-none{background-color: #ffffff; color:#333}
.label-none[href]{background-color: #ffffff;color:#333}

/*默认*/
.label-default{background-color: #e6e6e6; color:#333}
.label-default[href]{background-color: #e6e6e6;color:#333}

/*主要*/
.label-primary{background-color: #5a98de}
.label-primary[href]{background-color: #5a98de}

/*主要*/
.label-secondary{background-color: #3bb4f2}
.label-secondary[href]{background-color: #3bb4f2}

/*成功*/
.label-success{background-color:#5eb95e}
.label-success[href]{background-color: #5eb95e}

/*警告*/
.label-warning{background-color: #f37b1d}
.label-warning[href]{background-color: #f37b1d}

/*危险*/
.label-danger{background-color: #dd514c}
.label-danger[href]{background-color: #dd514c}
.desc-limiter{max-height:36px;margin:10px 5px;overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
/*****************************************************************/
.avatar{display:inline-block;position:relative; overflow:hidden}
.avatar img{ display:block}
.avatar.radius,.avatar.radius img{border-radius:50%}
.avatar,.avatar img{width:32px; height:32px}
.avatar.size-MINI{ width:16px;height:16px}
.avatar.size-S,.avatar.size-S img{width:24px; height:24px}
.avatar.size-M,.avatar.size-M img{width:32px; height:32px}/*默认为中，可以不写，可以理解为：均码*/
.avatar.size-L,.avatar.size-L img{width:40px; height:40px}
.avatar.size-XL,.avatar.size-XL img{width:64px; height:64px}
.avatar.size-XXL,.avatar.size-XXL img{width:100px; height:100px}
.avatar.size-XXXL,.avatar.size-XXXL img{width:128px; height:128px}
/************************************************************************************************/
.attach-box{
    float: left;
    overflow: hidden;
    width: 180px;
    height: 200px;
    margin: 10px 10px;
    background-color: #f5f5f5;
}
.attach-box-light{
    float: left;
    overflow: hidden;
    margin: 2px 10px 2px 0;
    padding: 1px;
    border: 1px solid #b7d2ff;
    background-color: #E0ECFF;
}
.attach-box .attach-name,.attach-box-light .attach-name{
    height: 35px;
}
.attach-box .attach-size{
    height: 15px;
}
.attach-box .attach-buttons,.attach-box-light .attach-buttons{
    height: 30px;
}
/************************************************************************************************/
.table-form{
    font-size: 14px;
    width: 100%;
    color: #333;
    border-collapse: collapse;
}
.table-form .form-caption{
    background:#eaf2ff;
    color: #333;
    font-size: 16px;
    text-align:center;
    font-weight:bold;
}
.table-form .form-tip{
    background:#eaf2ff;
    color: #333;
    font-size: 14px;
}
.table-form .form-tools{
    background:#eaf2ff;
    color: #333;
    font-size: 14px;
}
.table-form th,.table-form td{
    border: 1px solid #dddddd;
}
.table-form .field-label{
    padding-left: 5px;
    background-color: #f5f5f5;
}
.table-form .field-input{
    padding-left: 5px;
}
.table-form .field-value{
    padding-left: 5px;
}
/******************************************************************/
.project-status-1{
    color: #3c763d;
    background-color: #D4D4D4;
    border-color: #d6e9c6;
}
.project-status-2{
    color: #3c763d;
    background-color: #CDC673;
    border-color: #d6e9c6;
}
.project-status-3{
    color: #3c763d;
    background-color: #D2B48C;
    border-color: #d6e9c6;
}
.project-status-4{
    color: #3c763d;
    background-color: #CD853F;
    border-color: #d6e9c6;
}
.project-status-5{
    color: #3c763d;
    background-color: #009900;
    border-color: #d6e9c6;
}
.project-status-6{
    color: #3c763d;
    background-color: #CD4F39;
    border-color: #d6e9c6;
}
/******************************************************************/
/******selector******/
/******tags******/
.i-act-btn,.qt-tag-label {
    position: relative;
    display: inline-block;
    margin: 0 4px 4px 0;
    padding: 2px 20px 2px 4px;
    text-decoration: none;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background: #eaf2ff;
    color: #000000;
}
.qt-plug-selector-remove,.qt-tag-remove,.qt-tag-add,.qt-tag-tag {
    background: url(../../img/tagbox_icons.png) no-repeat -16px center;
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    right: 2px;
    top: 50%;
    margin-top: -8px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.qt-tag-add {background: url(../../img/tagbox_add.png) no-repeat center;}
.qt-tag-tag {background: url(../../img/tagbox_tag.png) no-repeat center;}
.qt-plug-selector-preview .i-act-btn,.qt-tagger-preview .qt-tag-label{display: inline-block;float: none;margin-bottom: 0;}
.selector-readonly .i-act-btn{padding-right: 4px;}
.highcharts-strong {font-weight: bold;}
.textbox-label{width:auto}
.l-btn-icon{font-size:16px;padding-top:0}

/********************************适用easyui linkbutton的按钮组**********************************************************/
.buttongroup{
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: middle;
}
.buttongroup .l-btn{
    float: left;
    margin-left: -1px;
}
.buttongroup .l-btn:last-child::after{
    content: '';
    clear: both;
}
.buttongroup .l-btn:not(:first-child):not(:last-child){
    border-radius: 0;
}
.buttongroup .l-btn:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 0;
}
.buttongroup .l-btn:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.buttongroup-justified{
    display: table;
    table-layout: fixed;
}
.buttongroup-justified .l-btn{
    float: none;
    display: table-cell;
}
.loader{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../img/loading.gif') 50% 50% no-repeat rgb(249,249,249);
}
.datagrid-search-form-container{
	padding: 1px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.datagrid-search-form-box{
	margin: 1px 10px 1px 0;
}

.daohe-panel{ background-color:#fff; border:solid 1px transparent}
.daohe-panel-header{ border-bottom:solid 1px transparent; padding:8px 15px; font-size:14px; font-weight:700}/*面板标题*/
.daohe-panel-body{ padding:15px}/*面板内容*/
.daohe-panel-footer{background-color: #f5f5f5;border-top: 1px solid #ddd;padding:5px 20px}/*面板页脚*/
/*默认面板*/
.daohe-panel-default{border-color:#ddd}
.daohe-panel-default > .daohe-panel-header{ border-color:#ddd; background-color:#f5f5f5; color:#444}

/*主要面板*/
.daohe-panel-primary{border-color:#5a98de}
.daohe-panel-primary > .daohe-panel-header{ border-color:#5a98de; background-color:#5a98de; color:#fff}

/*次要面板*/
.daohe-panel-secondary{border-color:#3bb4f2}
.daohe-panel-secondary > .daohe-panel-header{ border-color:#3bb4f2; background-color:#3bb4f2; color:#fff}

/*成功面板*/
.daohe-panel-success{border-color:#5eb95e}
.daohe-panel-success > .daohe-panel-header{ border-color:#5eb95e; background-color:#5eb95e; color:#fff}

/*警告面板*/
.daohe-panel-warning{border-color:#f37b1d}
.daohe-panel-warning > .daohe-panel-header{ border-color:#f37b1d; background-color:#f37b1d; color:#fff}

/*危险面板*/
.daohe-panel-danger{border-color:#dd514c}
.daohe-panel-danger > .daohe-panel-header{ border-color:#dd514c; background-color:#dd514c; color:#fff}


.daohe-table{width:100%;empty-cells:show;background-color:transparent;border-collapse:collapse;border-spacing:0}
.daohe-table th{text-align:left; font-weight:400}
/*带水平线*/
.daohe-table th{font-weight:bold}
.daohe-table th,.daohe-table td{padding:8px;line-height:20px}
.daohe-table td{text-align:left}
.daohe-table tbody tr.success > td{background-color:#dff0d8}
.daohe-table tbody tr.error > td{background-color:#f2dede}
.daohe-table tbody tr.warning > td{background-color:#fcf8e3}
.daohe-table tbody tr.info > td{background-color:#d9edf7}
.daohe-table tbody + tbody{border-top:2px solid #ddd}
.daohe-table .daohe-table{background-color:#fff}

/*带横向分割线*/
.daohe-table-border{border-top:1px solid #ddd}
.daohe-table-border th,.daohe-table-border td{border-bottom:1px solid #ddd}

/*th带背景*/
.daohe-table-bg thead th{background-color:#F5FAFE}
/*带外边框*/
.daohe-table-bordered{border:1px solid #ddd;border-collapse:separate;*border-collapse:collapse;border-left:0}
.daohe-table-bordered th,.daohe-table-bordered td{border-left:1px solid #ddd}
.daohe-table-border.daohe-table-bordered{border-bottom:0}

/*奇数行背景设为浅灰色*/
.daohe-table-striped tbody > tr:nth-child(odd) > td,.daohe-table-striped tbody > tr:nth-child(odd) > th{background-color:#f9f9f9}
/*竖直方向padding缩减一半*/
.daohe-table-condensed th,.daohe-table-condensed td{padding:4px 5px}
/*鼠标悬停样式*/
.daohe-table-hover tbody tr:hover td,.daohe-table-hover tbody tr:hover th{background-color: #f5f5f5}
/*定义颜色*/
/*悬停在行*/
.daohe-table tbody tr.active,.daohe-table tbody tr.active>td,.daohe-table tbody tr.active>th,.daohe-table tbody tr .active{background-color:#F5F5F5!important}
/*成功或积极*/
.daohe-table tbody tr.success,.daohe-table tbody tr.success>td,.daohe-table tbody tr.success>th,.daohe-table tbody tr .success{background-color:#DFF0D8!important}

/*警告或出错*/
.daohe-table tbody tr.warning,.daohe-table tbody tr.warning>td,.daohe-table tbody tr.warning>th,.daohe-table tbody tr .warning{background-color:#FCF8E3!important}
/*危险*/
.daohe-table tbody tr.danger,.daohe-table tbody tr.danger>td,.daohe-table tbody tr.danger>th,.daohe-table tbody tr .danger{background-color:#F2DEDE!important}

/*表格文字对齐方式，默认是居左对齐*/
.daohe-table .text-c th,.daohe-table .text-c td{text-align:center}/*整行居中*/
.daohe-table .text-r th,.daohe-table .text-r td{text-align:right}/*整行居右*/
.daohe-table th.text-l,.daohe-table td.text-l{text-align:left!important}/*单独列居左*/
.daohe-table th.text-c,.daohe-table td.text-c{text-align:center!important}/*单独列居中*/
.daohe-table th.text-r,.daohe-table td.text-r{text-align:right!important}/*单独列居右*/


.img-responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.thumbnail {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.form-container{
    height: 100%;
}
.form-container .form-body{
    height: calc(100% - 3rem);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
}
.form-container .form-toolbar{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    height: 3rem;
    border-color: #95B8E7;
    background: #F4F4F4;
    border-width: 1px 0 0 0;
    border-style: solid;
    padding: 5px;
}